<ion-tabs>

  <ion-tab-bar slot="bottom" color="success">
    <ion-tab-button tab="tab-home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Scanner</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-basket">      
      <ion-icon name="basket-outline"></ion-icon>
      <ion-label>Panier</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-bin">
      <ion-icon name="trash"></ion-icon>
      <ion-label>Poubelle</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Carte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
