<ion-content>
  <ion-slides pager="true">
    <ion-slide class="step-one">
      <ion-img src="assets/images/logo_wasty.png"></ion-img>
      <h2>Bienvenue sur Wasty</h2>
            
    </ion-slide>

    <ion-slide class="step-two">
      <ion-img src="assets/images/trash.png"></ion-img>
      <h2>Avec Wasty<br> le tri sélectif devient <br>un jeu d'enfant !</h2>
        <p>Retrouvez les consignes de tri selon votre ville ou votre localisation, scannez vos produits et ne vous trompez plus de bac !</p>
      
    </ion-slide>

    <ion-slide class="step-three">
      <p>Avec Wasty, vous contribuez à la sauvegarde de la planète</p>
      <ion-img src="assets/images/globe.png" ></ion-img>
      <p>Créer son compte permet de sauver vos consignes de tri, obtenir des statistiques sur votre tri quotidien, gagner des points et des bons d'achat et encore plein d'autres choses !</p>
      <a href="tabs/tab-home/register" color="warning"><ion-icon name="person-add-outline"></ion-icon> Créer son compte</a>
      <span>ou</span>
      <ion-button id="go" class="ion-text-lowercase" (click)="finished()">Découvrir l'application</ion-button>      
      <p><ion-icon name="bulb-outline"></ion-icon> Pas de soucis ! Vous pourrez le créer plus tard!</p>
    </ion-slide>

  </ion-slides>
</ion-content>
