<ion-header>
  <ion-toolbar color="success">
      <ion-title>Zone de recherche</ion-title>
      <ion-buttons slot="end">
        <ion-icon name="close" color="light" (click)="closePopover()"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
      <ion-card-header>
          <ion-card-title>Communes</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <form (ngSubmit)="localityConfirm()">
              <ion-item>
                  <!-- <ion-label>Communes</ion-label> -->
                  <ion-input type="search" [(ngModel)]="locality" name="locality" placeholder="..." clearInput></ion-input>
              </ion-item>
          </form>
          <hr>
          <ion-note>Plusieurs communes peuvent être renseignées en les séparant d'un espace.<br>Par exemple: "Cannes Antibes"</ion-note>
      </ion-card-content>
  </ion-card>
</ion-content>