<ion-header>
  <ion-toolbar color="success">
    <ion-title>City</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="secondary">Ville</ion-label>
    <ion-label color="secondary">Code postal</ion-label>         
  </ion-item>

  <ion-list *ngFor="let item of cityList">
    <ion-item>
      <ion-label>{{item.id}}</ion-label>
      <ion-label>{{item.name}}</ion-label>
      <ion-label>{{item.citycode}}</ion-label>           
    </ion-item>
    <ion-list>
      <ion-label class="ion-padding-horizontal" color="secondary">Poubelle</ion-label>
      <ion-label class="ion-padding-horizontal" color="secondary">Type Bac</ion-label>
      <ion-label class="ion-padding-horizontal" color="secondary">Type emballage</ion-label>
      <ion-item *ngFor="let bin of item.binTarget">
        <ion-label>{{bin.color}}</ion-label>
        <ion-label>{{bin.destination}}</ion-label>
        <ion-label>{{bin.material}}</ion-label>
      </ion-item>      
    </ion-list>
    <br>
  </ion-list>

  <br>
  
</ion-content>

